# for LTspice
# æ¼¢å­—ãƒ†ã‚¹ãƒˆ
# æ¼¢å­—è¿½åŠ 
* text=auto

#
#
#*.asc text eol=crlf encoding=utf-8
#    .asc‚ğtext‚É‚·‚é‚Æ•¶š‰»‚¯‚·‚é‚Ì‚ÅƒoƒCƒiƒŠˆµ‚¢‚Ì‚Ü‚Ü‚É‚µ‚Ä‚¨‚­B
#
.asc bin

.gitattributes text
.gitignore text
#EOF
